h1{
    color:#156b00;
    font-family: 'Satisfy', cursive;
    font-size:35px;
    text-align: center;
}

p{
    color:rgb(9, 0, 141);
    font-family: 'Satisfy', cursive;
    font-size:30px;
    text-align: center;
}